{% extends 'base.html.twig' %}

{% block title %}Hello PizzaBestellungController!{% endblock %}

{% block body %}
    <h1>DEINE PIZZABESTELLUNG</h1>
    {{ form(form, { 'attr' : { 'Novalidate': 'novalidate' } }) }}

{% endblock %}
